<head>
    <link href="~/css/AdminArea/index.css" rel="stylesheet" />
</head>
<h1 class="admin-heading">Administração</h1>
<table class="admin-table">
    <thead>
        <tr>
            <th>Modulo</th>
            <th></th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Funcionários</td>
            <td><i class="fas fa-users fa-lg"></i></td>
            <td><a href="/Funcionario/Index" class="admin-link">Gerir Funcionários</a></td>
        </tr>
        <tr>
            <td>Quartos</td>
            <td><i class="fas fa-bed fa-lg"></i></td>
            <td><a href="/Quarto/Index" class="admin-link">Gerir Quartos</a></td>
        </tr>
        <tr>
            <td>Utilizadores</td>
            <td><i class="fas fa-calendar-check fa-lg"></i></td>
            <td><a href="/User/Index" class="admin-link">Gerir Utilizadores</a></td>
        </tr>
    </tbody>
</table>

