    body {
        color: #efe7db;
        height: 100vh;
    }

    .container {
        height: 100%;
    }

    h1 {
        color: #efe7db;
        text-align: center;
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    p {
        font-size: 1.2em;
        line-height: 2.5;
    }
