* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100vh;
}

.container {
    height: 100%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #e8e1d6;
}

.btn-primary {
    background-color: #545454;
    color: #e8e1d6;
    border: 0.5px solid #ca8a3c;
}

.btn-primary:hover {
    background-color: #ca8a3c;
    color: #e8e1d6;
    border: 0.5px solid #e8e1d6;
}


.btn-default {
    background-color: #222222;
    border: 0.5px solid white;
    color: #fff;
}

.btn-default:hover {
    background-color: gold;
    color: #000;
    border: 0.5px solid gold;
}

.btn-secondary {
    border: 0.5px solid white;
    background-color: #222222;
    color: #fff;
}

.btn-secondary:hover {
    background-color: red;
    color: #fff;
    border: 0.5px solid red;
}


.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #efe7db;
    background-color: rgba(246, 184, 122, 0.2);
}

th,
td {
    padding: 8px;
    text-align: center;
    color: #efe7db;

}

th {
    background-color: #545454;
}

tbody tr:hover {
    background-color: #ca8a3c;
}
.table-responsive-fix {
    display: table;
}

@media(max-width: 768px) {
    .table-responsive-fix {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table th,
    .table td {
        padding: 5px;
        font-size: 0.8rem;
    }
}

@media(max-width: 375px) {
    .table-responsive-fix {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table th,
    .table td {
        padding: 5px;
        font-size: 0.8rem;
    }
}
