@model GestaoHotelJoao.Models.User

@{
    ViewData["Title"] = "Create";
}
<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 <link href="~/css/User/create.css" rel="stylesheet" />
</head>
<h1>Criar novo utilizador</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
           
<div class="form-group">
    <label class="checkbox-container">
        <input asp-for="Administrador" type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox-label">Administrador</span>
    </label>
    <span asp-validation-for="Administrador" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="checkbox-container">
        <input asp-for="Funcionario" type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox-label">Funcionário</span>
    </label>
    <span asp-validation-for="Funcionario" class="text-danger"></span>
</div>
<hr class="my-4" />
            <div class="form-group actions">
                <button type="submit" class="btn btn-primary">Criar <i class="fas fa-plus"></i></button>
                <a asp-action="Index" class="btn btn-default">Voltar <i class="fas fa-arrow-left"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
