@{
    ViewData["Title"] = "Página Inicial";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/Home/index.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Bem-vindo</h1>
        <p>
            Bem-vindo à nossa aplicação de gestão de reservas, a solução definitiva para gerir clientes e reservas sem esforço!

            Com a nossa interface intuitiva, pode supervisionar todos os aspetos das operações do seu negócio de forma eficiente. Eis o que pode fazer:

            <ul>
                <li><strong>Gerir Clientes:</strong> Mantenha todas as informações, preferências e histórico dos seus clientes num só lugar. Atualize facilmente os detalhes de contacto, consulte o histórico de reservas e personalize a experiência para garantir a satisfação do cliente.</li>
                <li><strong>Gerir Reservas:</strong> Simplifique o processo de reserva com facilidade. Crie, modifique e cancele reservas sem esforço. A nossa vista de calendário intuitiva permite-lhe ver rapidamente a disponibilidade, gerir as reservas e evitar duplicações.</li>
                <li><strong>Relatórios e Análises:</strong> Obtenha insights valiosos sobre o desempenho do seu negócio com ferramentas de relatórios abrangentes. Acompanhe as tendências de reservas, monitore a receita e tome decisões informadas para otimizar a estratégia do seu negócio.</li>
            </ul>

            Com a nossa aplicação, terá todas as ferramentas necessárias para melhorar a eficiência da sua gestão de reservas e garantir uma experiência excecional para os seus clientes. Seja bem-vindo e vamos elevar juntos a sua gestão de reservas!
        </p>
    </div></body>
</html>
