@model GestaoHotelJoao.Models.Cliente

@{
    ViewData["Title"] = "Details";
}
<style>
    /* Add any custom styles here */
</style>

<h1>Detalhes</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Contacto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Nome)</td>
                <td>@Html.DisplayFor(model => model.Contacto)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
